<!doctype html>

<html>

<head> <!-- head of the html file -->

  <!-- website title-->
  <title>Iris' portfolio</title> 

  <!-- bootstrap's references-->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="../static/css/index.css" rel="stylesheet"> 
  <script type="text/javascript" src="path-to-javascript-file.js"></script> <!-- add the javascript -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0"> <!-- adapt the layout to the screen sizes -->
  
</head>


<body> <!-- body of the file -->

	<header> <!-- static header -->
		<div class="split3">
			<div class="text-center" align="center">  <!-- alligned the columns in the center of the page -->

		 	<div class="wrapper-div"> <!-- about me section -->
		 			<a href="about_me.html" class="button"><p>ABOUT ME</p></a>
			 </div>

	 		  <div class="wrapper-div"> <!-- title section -->
				<h1 align="center">Iris' portfolio</h1> <!-- aligned the title: center -->
	 		  </div>

	 		 <div class="wrapper-div"> <!-- enquiry form section -- for implementation with python-->
					<a href="enquiries.html" class="button"><p>ENQUIRIES</p></a>
			 </div>

			</div>
		</div>

	</header> 

	<div class="split3">
		<div class="text-center" align="center">  <!-- alligned the columns in the center of the page -->

		 <div class="column"> <!-- 1st image/link -->
			<div class="iframe">
				<a href="istanbul.html" alt="istanbul">
					<img class="img-square" src="../static/images/istanbul.jpg" style="height:250px; width:350px;"></a>
					<p id="title">ISTANBUL</p>
			</div>
		 </div>
		

		  <div class="column"> <!-- 2nd image/link -->
			<div class="iframe">
				<a href="los_angeles.html" alt="los_angeles">
					<img class="img-square" src="../static/images/los_angeles.jpg" style="height:250px; width:350px;"></a>
					<p id="title">LOS ANGELES</p>
			</div>
		  </div>
		

		 <div class="column"> <!-- 3rd image/link -->
			<div class="iframe">
				<a href="tel_aviv.html" alt="tel_aviv">
					<img class="img-square" src="../static/images/tel_aviv.jpg" style="height:250px; width:350px;"></a>
					<p id="title">TEL AVIV</p>
			</div>
		  </div>

		</div>

	</div>




<!-- 2nd row of columns -->

	<div class="split3">
		<div class="text-center" align="center">  <!-- alligned the columns in the center of the page -->

		 <div class="column"> <!-- 1st image/link -->
			<div class="iframe">
				<a href="london.html" alt="london">
					<img class="img-square" src="../static/images/london.jpg" style="height:250px; width:350px;"></a>
					<p id="title">LONDON</p>
			</div>
		 </div>
				

		 <div class="column"> <!-- 2nd image/link -->
			<div class="iframe">
				<a href="canterbury.html" alt="canterbury">
					<img class="img-square" src="../static/images/canterbury.jpg" style="height:250px; width:350px;"></a>
					<p id="title">CANTERBURY</p>
			</div>
		  </div>


		 <div class="column"> <!-- 3nd image/link -->
			<div class="iframe">
				<a href="milan.html" alt="milan">
					<img class="img-square" src="../static/images/milan.jpg" style="height:250px; width:350px;"></a>
					<p id="title">MILAN</p>
			</div>
		  </div>


		</div>

	</div>

	</div>

<footer> <!-- static header -->
	<div class="wrapper-div">
		<p id="contact" align="center">contact:  <a id="contact" href="iris.gia90@gmail.com">iris.gia90@gmail.com</a></p> <!-- aligned the title: center -->
	</div>
	</footer> 

</body>


</html>
